body{
  background-color: whitesmoke;
  overflow-x: hidden;
}

.container{
  text-align: center;
  color: white;
  background-image: url("../assets/backgrounds/h_img.jpg");
  height: 500px;
}

.info,
.info-3,
.info-4 {
  text-align: center;
  margin: 3em;
}

.info-2{
  text-align: center;
  margin: 3em;
  background-image: url("../assets/backgrounds/s_image.jpg");
  color: whitesmoke;
  height: 300px;
}

.info-5{
  text-align: center;
  margin: 3em;
  background-image: url("../assets/backgrounds/c_image.jpg");
  background-size:auto;
  color: whitesmoke;
  height: 400px;
}

input[type=text],
input[type=email],
textarea[type=text], {
  background-color:transparent;
  color: white;
}

.hide{
  display: none;
}

.info-4 img{
  width: 100%;
}

.card{
  position: relative;
  margin: 10px 10px;
  overflow: hidden;
  cursor: pointer;
}

.card:hover img{
  transform: scale(1.1);
  transition: all 0.4s ease-out;
}

.card-1{
  width: 330px;
  position: absolute;
  min-height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.582);
  transition: all 0.4s ease;
}

.reveal{
  text-align:left;
  color: white;
  font-size: 3em;
}

#social_icons img{
  border-radius: 50%;
  transition: 0.2s ease-out;
}

#social_icons img:hover{
  box-shadow: 0 0 20px rgb(255, 148, 13);
  margin: -3px;
  padding: 3px;
}

.footer{
  justify-content: center;
  text-align: center;
}

.footer p:hover{
  color: rgb(255, 148, 13);
  cursor: pointer;
}
